@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{margin: 0;padding: 0; text-decoration: none; list-style: none;}

body{
    height: 2200px;
    width: 100%;
}

.top{
    width: 100%;
    height: 60px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-content: space-between;
}
.logo{
    position: relative; 
    left: 17%;
    top: 10%;
}
.logo>img{
    width: 60px; 
    height: 60px;
    
}
.gnb>ul{
    display: flex;  
    margin: 0px 50px; 
    line-height: 60px; 
    top: 10%; 
    position: relative;
}
.gnb>ul>li{
    width: 150px; 
    height: 60px; 
    text-align: center;
    margin-left: 100px;
    
}
.gnb>ul>li>a{
    color: rgb(64, 78, 237);
    font-weight: bold;
    font-size: 20px;
}
.gnb>ul>li>a:hover{
    text-decoration: underline;
}

.trans{
    width: 200px;
    height: 60px;
    font-size: 20px;
    line-height: 75px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: auto 0px;
    right: 16%;
}
.trans>a{color: rgb(64, 78, 237);font-weight: bold;}
.trans>a:hover{text-decoration: underline;}
.trans>span{
    color: rgb(64, 78, 237);
}

.Back{
    width: 100%;
    height: 545px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.GoodBot{
    color: white;
    position: relative;
    top: 27%;
    left: 17%;
    font-size: 50px;
    width: 600px;
}
.GoodBot2{
    color: white ;
    position: relative;
    top: 32%;
    left: 17%;
    font-size: 25px;
    width: 700px;
}
.coding_img{
    position: relative;
    bottom: 20%;
    left: 55%;
    width:  525px;
    height: 525px;
}
.butten{
    background-color: rgb(64, 78, 237);
    width: 300px;
    height: 70px;
    text-align: center;
    position: absolute;
    border-radius: 50px 50px 50px 50px;
    top: 47%;
    left: 17%;
    transition: 0.2s;
}
.butten:hover{
    background-color: rgb(149, 155, 226);

}
.butten>a{
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
}

.contents{
    width: 100%;
    height: 1595px;
}

.one{
    width: 600px;
    background-color: rgba(207, 207, 207, 0.4);
    border-radius: 15px;
    height: 720px;
    position: relative;
    left: 50%;
    transform: translateX(-102%);
    top: 100px;
}
.text1{
    position: relative;
    top: 50px;
    text-align: center;
}

.img1{
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border-radius: 15px;
}

.two{
    width: 600px;
    background-color: rgba(207, 207, 207, 0.4);
    border-radius: 15px;
    height: 875px;
    position: relative;
    transform: translateX(2%);
    left: 50%;
    top: -400px;
}

.text2{
    position: relative;
    top: 50px;
    text-align: center;
}

.img2{
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border-radius: 15px;
}

.three{
    width: 600px;
    background-color: rgba(207, 207, 207, 0.4);
    border-radius: 15px;
    height: 605px;
    position: relative;
    transform: translateX(-102%);
    left: 50%;
    top: -750px;
}

.text3{
    position: relative;
    top: 50px;
    text-align: center;
}

.img3{
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border-radius: 15px;
    width: 390px;
}

.four{
    width: 600px;
    background-color: rgba(207, 207, 207, 0.4);
    border-radius: 15px;
    height: 230px;
    position: relative;
    transform: translateX(2%);
    left: 50%;
    top: -980px;
}

.text4{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.contents>div{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}

footer>div{
    background-color: rgb(35, 39, 42);
    height: 70px;
    width: 100%;
    position:relative;
    bottom: 0;
}

footer>div>p{
    color: #fff;
    text-align: center;
    line-height: 70px;
    opacity: 70%;
}