*{margin: 0;padding: 0; text-decoration: none; list-style: none;}

.top{
    width: 100%;
    height: 60px;
    background: rgb(35, 39, 42); 
    display: flex; 
    justify-content: space-between;
}
.logo{
    position: relative; 
    left: 17%; 
    top: 10%;
}
.logo>img{
    width: 60px; 
    height: 60px;
    
}
.gnb>ul{
    display: flex;  
    margin: 0px 50px; 
    line-height: 60px; 
    top: 10%; 
    position: relative;
}
.gnb>ul>li{
    width: 150px; 
    height: 60px; 
    background: rgb(35, 39, 42);
    text-align: center;
    margin-left: 100px;
    
}
.gnb>ul>li>a{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.trans{
    width: 200px; 
    height: 60px; 
    
    line-height: 75px; 
    
    text-align: center; 
    position: relative; 
    margin: auto 0px; 
    right: 16%; 
    
}
.trans>a{color: rgb(255, 255, 255);font-weight: bold;}

.Back{
    width: 100%;
    height: 545px;
    background: rgb(35, 39, 42); 
}

.GoodBot{
    color: #fff;
    position: relative;
    top: 20%;
    left: 17%;
    font-size: 45px;
    width: 600px;
}
.GoodBot2{
    color: rgb(170, 170, 170);
    position: relative;
    top: 22%;
    left: 17%;
    font-size: 25px;
    width: 700px;
}
.coding_img{
    position: relative;
    left: 55%;
    bottom: 18%;
    width:  525px;
    height: 360;
}
.butten{
    background-color: rgb(64, 78, 237);
    width: 300px;
    height: 70px;
    text-align: center;
    position: absolute;
    border-radius: 50px 50px 50px 50px;
    top: 47%;
    left: 17%;
    transition: 0.2s;
}
.butten:hover{
    background-color: rgb(149, 155, 226);

}
.butten>a{
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
}